{% extends "base.html" %}
	{% block contenthead %}
		Select Preferences
	{% endblock %}
	{% block content1 %}
	<div class="card bg-warning text-black ">
			<div class="card-footer d-flex align-items-center justify-content-between">
                 <div class="table-responsive">
                      <table border="0" id="dataTable" width="100%" cellspacing="0">                      
						   <form method="POST">{%csrf_token%} 
								<tr>
									<td><label for="bathrooms"> Bathrooms </label>
										<input type="text" name="bathrooms" class="form-control" placeholder="between 1-4" required>
									</td>	
									<td><label for="mainroad"> Mainroad </label>
										<select name="mainroad" class="form-control">
											<option value="1">Yes</option>
											<option value="0">No</option>		
										</select>
									</td>
								</tr>
								<tr>
									<td><label for="guestroom"> Guest Room </label>
										<select name="guestroom" class="form-control">
											<option value="1">Yes</option>
											<option value="0">No</option>		
										</select>
									</td>
									<td><label for="hotwaterheating"> Hotwater Heating </label>
										<select name="hotwaterheating" class="form-control">
											<option value="1">Yes</option>
											<option value="0">No</option>		
										</select>
									</td>
								</tr>	
								<tr>
									<td><label for="airconditioning"> Air Conditioning </label>
										<select name="airconditioning" class="form-control">
											<option value="1">Yes</option>
											<option value="0">No</option>		
										</select>
									</td>
									<td>
										<label for="prefarea"> Pref Area </label>
										<select name="prefarea" class="form-control">
											<option value="1">Yes</option>
											<option value="0">No</option>		
										</select>
									</td>
								</tr>		
								
								<tr><input type="submit" name="submit" class="form-control btn btn-primary" value="Submit"></tr>
							</form>
					</table>
				</div>
			</div>
       </div>		
	{% endblock %}
